<?xml version="1.0" encoding="utf-8" ?> 
<RunSettings>
	<!--configuration elements-->
	
	
	<TestRunParameters>
		<Parameter name ="Url" value="https://www.edgewordstraining.co.uk/demo-site/"/>
		<Parameter name ="Username" value="abc@hotmail.com"/>
		<Parameter name ="Password" value="bhawana1234"/>
		<Parameter name ="Coupon" value="edgewords"/>
		<Parameter name ="BrowserName" value="Chrome"/>
		
		
		
		
		</TestRunParameters>
	
	</RunSettings>
